@{
    Layout = null;
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>TEST ADMIN</title>
    <meta name="Description" content="Magic: The Gathering Sealed Deck Card Generator, Simulates opening boosters for many sets">
</head>
<body class="home">
    <h1>Test Admin page</h1>
</body>
</html>