# Node.js modules
node_modules/

# Log files
*.log

# Temporary files
tmp/
temp/

# Compiled binary files
*.o
*.out

# Application runtime data
pids/
*.pid
*.pid.lock
*.seed

# Passenger-specific files
passenger-standalone/

# npm-debug.log
npm-debug.log
