<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9cb6489d-b920-412c-af0a-dbbc4fa7db20/resourceGroups/mtgen2022-1_group/providers/Microsoft.Web/sites/mtgen2022-1</ResourceId>
    <ResourceGroup>mtgen2022-1_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://mtgen2022-1.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://mtgen2022-1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$mtgen2022-1</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>