* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

body, textarea {
    font-family: "PT Sans", Helvetica, Arial, sans-serif; /* imported weights: 400, 400 Italic */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

body {
    background: url(images/bg.jpg) no-repeat 0 0;
    background-size: contain auto;
    margin: 0 auto;
    position: relative;
}

@media (min-width: 1920px) {
    body {
        background-size: 100%;
    }
}

h1, h2 {
    font-family: 'IM Fell DW Pica', serif; /* imported weights: 400, 700 */
    text-shadow: 1px 1px 1px #000;
}

.ad img {
    height: auto;
    max-width: 100%;
}

.ad.top.wide {
    float: right;
    margin: -3em 1em 1em 1em;
}

.ad.top.narrow {
    margin: 0 auto 1em auto;
    text-align: center;
    width: 100%;
    display: none;
}

@media (max-width: 860px) {
    .ad.top.wide {
        display: none;
    }

    .ad.top.narrow {
        display: inline-block;
    }
}

.ad.bottom {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

header .symbol {
    float: right;
    max-width: 12em;
    padding-right: 2%;
    text-align: center;
    width: 20%;
}

    header .symbol img {
        width: 100%;
    }

header a {
    white-space: nowrap;
}

a.button {
    background: #464646;
    border: 1px solid #555;
    color: #b2b2b2;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
}

    a.button.active, .button.active {
        background: #303042;
        color: #a7abea;
    }

    a.button:hover {
        background: #000;
    }

h2 a.button.top {
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0,0,0,0);
    border: 0;
}

a.button.top:hover {
    background: #000;
}

a.button.small {
    display: inline-block;
    margin-top: 1em;
    padding-top: .1em;
    padding-bottom: .1em;
    font-size: 80%;
}

header .symbol .button {
    display: block;
    margin-top: .2em;
}

.back-to-top {
    text-align: center;
    margin-top: 3em;
}

header h1 {
    color: #fbfbf9;
    font-size: 160%;
    font-weight: normal;
    margin: 1em 0 0 4%;
    max-width: 18em;
    text-align: center;
    width: 70%;
}

#card-count {
    font-family: 'IM Fell DW Pica', serif; /* imported weights: 400, 700 */
    color: rgba(0,0,0,.5);
    display: inline-block;
    font-size: 160%;
    margin: 0 0 1em 4%;
    max-width: 18em;
    text-align: center;
    width: 70%;
}

    #card-count.light {
        color: rgba(255,255,255,.5);
    }

header h1 span {
    display: inline-block;
}

header .set-name {
    background: url(images/logo-word.webp) no-repeat center center;
    background-size: contain;
    display: block;
    text-direction: ltr;
    text-indent: -9999px;
    height: 0;
    padding-bottom: 21%; /* 57px / 446px */
}

aside.info {
    background: rgba(255,255,255,.6);
    border: 1px solid rgba(255,255,255,.8);
    display: table;
    width: 100%;
}
    /*aside.info p, aside.info a.update-more {*/
    aside.info > * {
        display: table-cell;
        padding: .5em 1em;
    }

.created-date {
    color: rgba(0,0,0,.5);
    white-space: nowrap;
}

aside.info .update-new {
    background: rgba(255,255,255,.3);
}

aside.info .update-new, aside.info .update {
    border-left: 1px solid #fff;
}

    aside.info .update.hidden {
        display: none;
    }

aside.info .update-more {
    border: 0;
    border-left: 1px solid #fff;
    white-space: nowrap;
}

aside.info ul {
    margin-left: 2em;
}

@media only screen and (max-width: 52em) {
    aside.info {
        display: block;
    }

        aside.info > * {
            display: inline;
            padding: .1em 1em;
        }

        aside.info .update-new, aside.info .update-more {
            border: none;
        }

        aside.info .button {
            background: transparent;
            color: #6268c2;
            margin-left: .5em;
            padding: 0;
        }
}

.warning {
    background: rgba(255, 255, 115, .7);
    color: #000;
    padding: .5em 1em;
    text-shadow: none;
}

main {
    color: #fbfbf9;
    padding-bottom: 2em;
}

    main > em {
        display: block;
        margin-left: 4%;
        max-width: 29em;
        text-align: center;
    }

.menu label {
    opacity: .3;
    padding-right: 1em;
}

.menu a.button {
    background: #424141;
    border: none;
    display: inline-block;
    margin-right: 1em;
}

    .menu a.button:hover {
        background: #000;
    }

.menu a.jump {
    color: #a7abea;
    display: inline-block;
    margin-right: 1em;
    text-decoration: none;
    white-space: nowrap;
}

    .menu a.jump:hover {
        color: #fff;
    }

.products {
    padding: 0 2em;
}

@media only screen and (max-width: 52em) {
    .products {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.products .button {
    background: rgba(70, 70, 70, 0.5);
    border-left-width: 0;
    color: #fff;
    display: inline-block;
    white-space: nowrap;
}

    .products .button:first-child {
        border-left-width: 1px;
    }

    .products .button:hover {
        background: rgba(70, 70, 70, 0.8);
    }

    .products .button.active {
        background: rgba(255,255,255,.9);
        color: #000;
    }

.product-content > section {
    display: none;
}

    .product-content > section.active {
        display: block;
    }

.product-content .options {
    max-width: 60em;
    padding: 2em 2em 0;
    text-shadow: 1px 1px 1px #000;
}

@media only screen and (max-width: 52em) {
    .product-content .options {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.booster-input {
    white-space: nowrap;
}

.boosters {
    overflow-x: auto;
}

    .boosters input {
        text-align: center;
        width: 3em;
    }

.add-booster {
    margin-left: 3.3em;
}

.product-content .options label {
    padding-right: .5em;
}

.generate {
    margin-top: 1em;
}

.product-content .options a.button {
    display: inline-block;
    margin: 0 1em .5em 0;
    white-space: nowrap;
}

.product-content .result {
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(2%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    margin-top: 1.5em;
}

    .product-content .result > * {
        padding: 0 2em 1em;
    }

    .product-content .result h2 {
        background: #333;
        color: #fff;
        font-size: 120%;
        padding: .5em 1em;
        position: relative;
        transition: .2s;
    }

        .product-content .result h2 strong {
            color: greenyellow;
        }

    .product-content .result .card-count {
        opacity: .3;
    }

    .product-content .result .menu {
        background: #464646;
        margin-bottom: 1em;
        padding: .1em 1em .3em;
    }

        .product-content .result .menu + .menu {
            margin-top: -1em;
        }

        .product-content .result .menu.jump {
            background: rgba(70,70,70,.8);
        }

    .product-content .result .set h2 {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 100;
    }

        .product-content .result .set h2.is_stuck {
            -webkit-box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 1);
            -moz-box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 1);
            box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 1);
            left: 0;
            margin-top: 0;
            width: 100% !important;
        }

.caveat {
    background: rgba(255, 245, 137, 0.5);
    padding: 1em !important;
    margin: 0 2em .5em;
    border: 1px solid rgba(207, 190, 10, 0.8);
    color: #565656;
}

.card {
    display: inline-block;
    margin: 0 0 1.5em 0;
    position: relative;
    vertical-align: top;
}

    .card img {
        margin: 0 .6em 0 0;
    }

    .card.doubleface img:first-child {
        margin-right: 0;
    }

    .card .transform-button {
        position: absolute;
        opacity: 0.60;
        background: white;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid #343242;
        display: block;
        height: 44px;
        width: 44px;
        padding: 7px;
        cursor: pointer;
        top: 26%;
        left: 75%;
        -webkit-transform-style: flat;
        transform-style: flat;
        -webkit-transition: background-color 200ms linear, opacity 50ms linear;
        -o-transition: background-color 200ms linear, opacity 50ms linear;
        transition: background-color 200ms linear, opacity 50ms linear;
        z-index: 1000;
        -webkit-transform: translateZ(0.01px);
        transform: translateZ(0.01px);
    }
        .card .transform-button svg {
            pointer-events: none;
        }

    .card .transform-button:hover, .card .transform-button:active {
        opacity: 1.0;
    }

    .card .card-back {
        display: none;
    }

    .card.flipped .card-front {
        display: none;
    }

    .card.flipped .card-back {
        display: inline;
    }
    .card.flipped .transform-button {
        border-color: #FFF;
        background-color: #343242;
    }

@media (min-width: 480px) and (max-width: 610px) {
    .product-content .result .card img {
        height: 321px;
        margin: 0 .2em;
        width: 230px;
    }
}

.card em {
    display: block;
    line-height: .5;
    text-align: center;
    font-size: 80%;
    color: #888;
}

    .card em.reason {
        line-height: 2;
    }

.foil {
    display: inline-block;
    position: relative;
}

    .foil:before {
        background: url(../cards/mtg-foil.webp) no-repeat;
        bottom: 0;
        content: "";
        left: 0;
        opacity: .7;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

footer {
    background: rgba(0,0,0,.5);
    color: #b2b2b2;
    margin-top: 5em;
    min-height: 5em;
    padding: 1em;
}

    footer a {
        color: #fff;
    }

.modal {
    max-width: 100%;
    width: 70em;
    padding: 2em;
}

    .modal h2 {
        font-size: 260%;
        font-weight: normal;
        text-shadow: none;
    }

.modal-card img {
    max-height: 100%;
    max-width: 100%;
}

.export-set, .export-detail {
    display: inline-block;
    vertical-align: top;
    width: 48%;
}

    .export-set ul {
        margin-top: 1em;
    }

    .export-set li {
        list-style: none;
    }

        .export-set li a {
            display: block;
            overflow: hidden;
            font-size: 130%;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

.export-detail {
    margin-left: 3%;
}

    .export-detail a.export-download {
        float: right;
        margin-bottom: 1em;
    }

    .export-detail textarea {
        display: block;
        height: 20em;
        width: 100%;
    }

#save-draw input {
    background: transparent;
    border: none;
    font-size: 200%;
    font-style: italic;
    padding: .5em .5em 1em .5em;
    width: 100%;
}

    #save-draw input:focus {
        outline: none;
    }

@media (max-width: 660px) {
    #save-draw input {
        font-size: inherit;
    }
}

.guild {
    background: rgba(0,0,0,.5);
    margin-bottom: 1em;
    max-width: 27em;
    padding: 1em;
}

@media only screen and (max-width: 52em) {
    header a span {
        display: none;
    }

    .export-set, .export-detail {
        display: block;
        width: auto;
    }

    .export-detail {
        margin: 0;
    }

        .export-detail a.export-download {
            display: inline-block;
            float: none;
            margin-top: 1em;
        }
}

@media only screen and (max-width: 30em) {
    header h1 {
        font-size: 120%;
    }

    header a {
        font-size: 80%;
    }

    .menu a {
        display: block;
    }

        .menu a.button.export {
            display: none;
        }

    header .symbol a.button.small {
        font-size: 70%;
        padding-left: 0;
        padding-right: 0;
    }

    .product-content .result {
        text-align: center;
    }

        .product-content .result > * {
            padding: 0;
        }
}

/*
@media only screen and (max-width: 65em) { body { background: yellow; } }
@media only screen and (max-width: 60em) { body { background: pink; } }
@media only screen and (max-width: 52em) { body { background: aqua; } }
@media only screen and (max-width: 40em) { body { background: orange; } }
@media only screen and (max-width: 30em) { body { background: yellow; } }
@media only screen and (max-width: 25em) { body { background: pink; } }
*/
