@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
    ViewBag.Title = "No Such Set";
}

<h1 class="text-danger">There is no such set.</h1>
<p>Your requested set code (@ViewBag.SetCode) is not a valid Magic: The Gathering set code.</p>