@{
    Layout = null;
    ViewBag.Title = "Set Not Created";
}

<h1 class="text-danger">Set does not yet exist.</h1>
<p>Your requested set (@ViewBag.SetCode.ToUpper(): @ViewBag.SetName) is a valid Magic: The Gathering set but I haven't yet created it.</p>
<p>If you'd like to see it <a href="mailto:cam.marsollier@gmail.com?subject=mtgen set request: @ViewBag.SetCode">let me know</a> and I'll see what I can do!</p>