@using mtgen.ViewModels;
@{
    var set = new mtgen.ViewModels.Set()
    {
        Code = "fem",
        Name = "Fallen Empires",
        CreatedDate = new DateTime(2015, 12, 25),
        CardCount = 187,
        StartProductName = "rem-boosters"
    };

    set.Updates = new List<Update>()
    {
        new Update() {
            UpdateDate = new DateTime(2015,12,25),
            HtmlString = "Note: Officialy a 102 card set, collectors consider it 187 due to <a href='http://mtgsalvation.gamepedia.com/Fallen_Empires#Set_details'>alternate card art</a>."
        }
    };

    set.CardFiles = new List<string>() { "cardsMain.json" };
    set.PackFiles = new List<string>() { "packs.json" };

    ViewBag.Set = set;

    /* Defaults:
        SetFile = "~/sets.json";
        CardFiles = new List<string>() { "cardsMain.json", "cardsToken.json", "cardsOther.json" };
        PackFiles = new List<string>() { "packs.json" };
        ProductFile = "products.json";
     */
}