@using mtgen.ViewModels;
@{
    var set = new mtgen.ViewModels.Set()
    {
        Code = "m15",
        Name = "2015 Core Set",
        CreatedDate = new DateTime(2014, 7, 23),
        CardCount = 269,
        StartProductName = "m15-prerelease"
    };

    set.Updates = new List<Update>()
    {
        new Update() {
            UpdateDate = new DateTime(2014,8,23),
            HtmlString = "Now includes actual Prerelease and Fat Pack pack-ins."
        },
        new Update() {
            UpdateDate = new DateTime(2014,8,13),
            HtmlString = "Now includes the actual Seeded Booster layouts as collated by brine via his <a href='https://docs.google.com/spreadsheet/ccc?key=0Apln2HM4aSGbdDJ6MFk5cTBjb09sXzFWdndhTkx2V1E' target='_blank'>Google Doc</a>. Thanks, brine!"
        },
        new Update() {
            UpdateDate = new DateTime(2014,8,9),
            HtmlString = "Evening: HUGE new release, rewritten from scratch. New features: sorting and grouping by colour, rarity, cost, and type. Now includes Intro Decks and Fat Packs. Many more little features."
        },
        new Update() {
            UpdateDate = new DateTime(2014,7,9),
            HtmlString = "Evening: Added Intro Packs as an option in the drop-downs. Also the seeded booster rare slot is fixed: if it's mythic it's going to be a Soul card."
        }
    };

    ViewBag.Set = set;

    /* Defaults:
        SetFile = "~/sets.json";
        CardFiles = new List<string>() { "cardsMain.json", "cardsToken.json", "cardsOther.json" };
        PackFiles = new List<string>() { "packs.json" };
        ProductFile = "products.json";
     */
}