@using mtgen.ViewModels;
@{
    var set = new mtgen.ViewModels.Set()
    {
        Code = "unh",
        Name = "Unhinged",
        CreatedDate = new DateTime(2015, 12, 25),
        CardCount = 141,
        StartProductName = "unh-boosters"
    };

    set.Updates = new List<Update>()
    {
        //new Update() {
        //    UpdateDate = new DateTime(2015,12,24),
        //    HtmlString = "Note: Officialy an 85 card set, collectors consider it 100 due to <a href='http://mtgsalvation.gamepedia.com/Antiquities#Set_details'>alternate card art</a>."
        //}
    };

    set.CardFiles = new List<string>() { "cardsMain.json", "cardsOther.json" };
    set.PackFiles = new List<string>() { "packs.json" };

    ViewBag.Set = set;

    /* Defaults:
        SetFile = "~/sets.json";
        CardFiles = new List<string>() { "cardsMain.json", "cardsToken.json", "cardsOther.json" };
        PackFiles = new List<string>() { "packs.json" };
        ProductFile = "products.json";
     */
}