img {
	float: right;
	max-width: 200px;
}
.symbol img {
	padding: 1em;
}
.ad {
	float: right;
	margin-left: 1em;
}
table {
	text-align: left;
    width: 100%;
}
td, th {
	padding: .5em 1em;
}
.block {
	background: gainsboro;
}
.current {
	background: lightblue;
}
.title {
	background: gray;
	color: white;
	font-weight: bold;
}
.future {
	opacity: .3;
}
.error {
	color: red;
}
.social {
	height: 90px;
}
p.twitter-follow {
	vertical-align: top;
}
.twitter-follow-button {
	display: inline-block;
	height: 24px;
}

.skipped-cards {
	padding: 0;
}
.skipped-cards li {
	display: inline-block;
	list-style: none;
	margin-right: 1em;
}
.sample-cards .card {
	display: inline-block;
    text-align: center;
}
.sample-cards img {
	max-width: none;
}

#status {
	height: 4em;
}